.card {
  position: relative;
  width: 600px;
  margin: auto;
  margin-bottom: 15px;
  padding: 30px 30px 15px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .card {
    width: 94%;
  }
}
