.navbar {
  height: 60px;
  background-color: #fff;
  box-sizing: border-box;
}

.navbar.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.navbar .brand {
  display: table;
  margin: 0;
  height: 100%;
  padding-left: 0;
}

.navbar .brand li {
  display: table-cell;
  vertical-align: middle;
  list-style-type: none;
  height: 100%;
}

.navbar .navigation button {
  cursor: pointer;
  padding-left: 15px;
  background: #fff;
  border: 0;
  width: 100%;
  height: 100%;
}

.navbar .navigation button:hover {
  background-color: #f9f9f9;
  transition: ease 0.3s background-color;
}

.navbar .brand img {
  display: block;
  height: 25px;
  margin-right: 7px;
}

.navbar .brand li.logo {
  font-family: 'Redressed', cursive;
  font-size: 30px;
}
