.progress {
  width: 80px;
  height: 80px;
  position: absolute;
  left: -120px;
  top: -20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.progress-circle {
  fill: transparent;
  stroke: #00a562;
  stroke-width: 2;
  stroke-dashoffset: 0;
}
